<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	 xmlns:p="http://www.springframework.org/schema"
	
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		https://www.springframework.org/schema/context/spring-context.xsd">


       <bean class="com.files.Collectiontype.Eployee" name="Eployee1" >
       <property name="vechile">
           <list>
                <value>BMW</value>
                <value>Maruti 800</value>
                <value>BMTC</value>
                <value>BMW</value>
           </list></property>
           
           <property name="email">
           <set>
               <value>jsp@123</value>
               <value>abc@123</value>
               <value>xyz@123</value>
               <value>srs@123</value>
           </set></property>
           
           <property name="name">
           <map>
                <entry key="sravs" value="kumari"/>
                <entry key="vani" value="kumari"/>
                <entry key="dakshi" value="kumari"/>
                <entry key="sani" value="kumari"/>
           </map></property>
           
       </bean>
    
  </beans>